* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

/* Header */

header {
  background: white;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 80px;
}

header ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

header a {
  font-size: 12px;
  font-weight: 600;
}

header a.active {
  color: blue;
  border-bottom: 2px solid blue;
}

/* Main*/

.hero {
  height: 300px;

  background-image: url('./assets/img/jumbotron.jpg');
  background-size: cover;
  background-position: top;
}

/*BlueBanner*/

section {
  background: #0866bd;
  color: white;
}

section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.banner-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.banner-item img {
  width: 40px;
}

/*Footer*/

footer {
  background-image: url('./assets/img/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  color: white;
}

footer .container {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
}

.columns {
  display: flex;
  gap: 40px;
}

.columns h4 {
  margin-bottom: 10px;
}

.columns ul {
  list-style: none;
}

.columns a {
  font-size: 12px;
  margin-bottom: 5px;
  color: gray;
}

footer img {
  max-width: 300px;
}

.footer-bottom {
  background: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.footer-bottom button {
  background: transparent;
  border: 1px solid #0282f9;
  color: white;
  padding: 10px 15px;
}

.social {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social span {
  color: #0282f9;
  font-weight: bold;
}

/* Cards */

.comics-section {
  background: #1c1c1c;
  padding: 40px 0;
  position: relative;
}

/*Label blu su card*/

.section-label {
  position: absolute;
  top: -20px;
  left: 200px;

  background: #0282f9;
  color: white;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
}

.comics-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: calc((100% - 100px) / 6);
}

.card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: contain;
  background: #1c1c1c;
}

.card h5 {
  font-size: 11px;
  margin-top: 10px;
  color: white;
}

/* Bottone */

.load-more {
  text-align: center;
  margin-top: 40px;
}

.load-more button {
  background: #0282f9;
  color: white;
  border: none;
  padding: 10px 50px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}